* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #cecece;
    font-family: 'Inconsolata', monospace;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7987c9;
    color: white;
}

.navbar-title {
    font-size: 2rem;
    margin: .5rem;
    margin-left: 5rem;
}

.navbar-links ul {
    margin: 0;
    margin-right: 3.5rem;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    display: block; 
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #f4eb9e;
}

.toggle-btn {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-right: 3.5rem;
}

.toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 700px) {
    .toggle-btn {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        width: 100%;
        display: none;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 1%;
    }

    .navbar-links.active {
        display: flex;
    }
}

.top-container {
    background-image: url("/vanilla-js/personal-website/images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

.text h1, .text p {
    margin: 5rem;
    margin-bottom: 0;
    font-size: 90px;
    color: white;
}

.text p {
    font-size: 40px;
}

.heading {
    color: #7987c9;
    font-size: 50px;
    text-decoration: underline;
}

.about-me {
    margin: 5rem;
    font-size: 30px;
    justify-items: center;
    display: flex;
    justify-content: space-around;
}

.skills, .projects {
    background-color: #AEAEAE;
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 25px;
    font-size: 30px;
    justify-items: center;
}

.projects a {
    color: black;
}

.projects-table td th {
    padding: 40px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* .project-title {
    background-color: #f4eb9e;
    color: black;
} */

hr {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5rem;
    border-color: #AEAEAE;
    border-style: solid;
}
