* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #cecece;
    font-family: 'Inconsolata', monospace;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7987c9;
    color: white;
}

.navbar-title {
    font-size: 2rem;
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    display: block; 
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #f4eb9e;
}

.toggle-btn {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 700px) {
    .toggle-btn {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        width: 100%;
        display: none;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 1%;
    }

    .navbar-links.active {
        display: flex;
    }
}
