body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.navbar-container {
    margin: 40px;
}

.topnav {
    height: 100px;
    background: linear-gradient(to right, black, gray);
    overflow: hidden;
    text-align: center;
    /* padding: auto; */
    /* border: 20px; */
    position: sticky;
    top: 0;
}

.topnav a {
    color: black;
    padding: 2%;
    margin: 0;
    text-decoration: wavy;
    font-size: 25px;
}

.topnav a:hover {
    cursor: pointer;
    color: #808080;
    background-color: black;
}

hr {
    width: 25%;
    height: 0px;
    border-style: ridge;
    color: #8080809c;
}

img {
    width: 30px;
    height: 30px;
}

a.active {
    font-weight: bold;
}

h2 {
    text-align: center;    
}

p {
    font-size: small;
    text-align: center;
    /* align-content: center; */
    padding: 30px 32% 30px 32%;
    height: 100px;
    width: 340px;
    color: white;
}

footer {
    text-align: center;
    font-size: x-small;
    width: 20%;
    padding: 10px;
    margin: 30px 39% 30px 39%;
    background-color: #808080;
}