@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Inconsolata&display=swap');

* {
    margin: 0;
}

body {
    background-color: #3d3d3d;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.wrapper {
    background-color: #000000;
    margin: 10% 30%;
    border-radius: 1.5%;
    overflow: hidden;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.5);
}

.title-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.title-form {
    margin: 5px;
    margin-top: 15px;
    color: #f4eb9e;
    font-size: 30px;
}

.title-form:hover {
    cursor: pointer;
}

.title-form.active {
    background-color: #7987c9;
}

.form-container {
    height: 10%;
    width: 40%;
    /* display: inline-block;
    justify-content: space-around; */
    
}

.title {
    margin-left: 5px;
    color: #7987c9;
    font-size: 25px;
    font-weight: bold;
}

.submit-btn {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    height: 25px;
    width: 185px;
    background-color: #f4eb9e;
    color: #000000;
    border-style: none;
    border-radius: 2%;
}

.submit-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

input {
    height: 25px;
    width: 185px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #7987c9;
    color: white;
    outline: none;
    transition: border-bottom 250ms ease-in;
    margin: 5px;
}

input:focus {
    border-bottom-width: 2.5px;
}

p {
    color: white;
    font-size: small;
    margin-left: 5px;
}

.link {
    margin-left: 5px;
    color: #7987c9;
    font-weight: 1000;
    font-size: 14px;
}